a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,button,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dialog,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1, - h6,hr,html,i,iframe,img,input,ins,kbd,keygen,label,legend,li,link,main,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,select,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{
	width:auto;
	height:auto;
	margin: 0;
	padding: 0;
	position:static;
	font-size:12pt;
	line-height: 1.4;
	word-spacing:1.1pt;
	letter-spacing:0.2pt;
	color:#000;
	background:none;
	float:none;
	border:0;
	font-family:serif;
}
h1, h2, h3, h4, h5, h6, .mod-title{
	margin:1.3em 0;
	font-weight: bold;
}
h1{
	font-size:21pt;
}
h2, .mod-title{
	font-size:17pt;
}
h3{
	font-size:15pt;
}
h4, h5, h6{
	font-size:12pt;
}
code{
	font:10pt Courier,monospace;
}
blockquote{
	margin:1.3em;
	padding:1em;
	font-size:10pt;
}
hr{
	border-top: 1px solid #000;
}

/* Links */
a{
	text-decoration:underline;
	color:blue;
}
/* Table */
table{
	margin:1px;
	text-align:left;
	border-left:1px solid #333;
	border-top:1px solid #333;
}
th{
	border-bottom:1px solid #333;
	border-right:1px solid #333;
	font-weight:bold;
}
td{
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
th, td{
	padding:4px 10px 4px 0;
}
tfoot{
	font-style:italic;
}
caption{
	background:#fff;
	margin-bottom:2em;
	text-align:left;
}
thead{
	display:table-header-group;
}
tr{
	page-break-inside:avoid;
}
#page-header,#mainheader,#page-footer,#col-top,#col-center,#col-left,#col-right,#col-bottom,.mod_custom-slideshow,.mod_breadcrumbs,.pagehub,form,.mod_banners,#gotop,#home-footer{
	display: none;
}
#col-center,#col-main{
	float: none;
	width: auto;
}
.img-left{
	float: left;
	margin: 0 1.3em 0 0;
}
.img-right{
	float: right;
	margin: 0 0 0 1.3em;
}
